@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 40 33% 96%;
    --foreground: 0 0% 8%;

    --card: 40 33% 96%;
    --card-foreground: 0 0% 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 8%;

    --primary: 330 80% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 43 90% 65%;
    --secondary-foreground: 0 0% 8%;

    --muted: 40 20% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 70% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 40 20% 85%;
    --input: 40 20% 85%;
    --ring: 330 80% 65%;

    --radius: 0.5rem;

    --font-heading: 'Roboto', sans-serif;
    --font-body: 'Inter', sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}